.table {
  vertical-align: middle;
}

.table tr td img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

td,
th {
  color: var(--primary-color);
}

td i {
  cursor: pointer;
}

.inline {
  display: flex;
  margin-bottom: 20px;
}

.cart__button:first-child {
  margin-bottom: 5px;
}

.cart__button button {
  outline: none;
  border: none;
  width: 23px;
  height: 25px;
  color: #fff;
  background: var(--primary-color);
  font-size: 18px;
  font-weight: 500;
  border-radius: 3px;
}

.cart__button button:hover {
  background: #fff;
  color: var(--primary-color);
}

@media screen and (max-width: 768px) {
  .scroll {
    overflow-x: scroll;
  }
}
