@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap");

.hero__section {
  /* background: var(--hero-bg); */
  background: url("../assets/images/hero1.jpg") center no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero__content h1 {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: var(--secondary-color);
  font-size: 9rem;
  font-weight: 600;
  margin: 20px 0px;
  text-align: center;
}

.shop__btn {
  border: none;
  outline: none;
  padding: 8px 20px;
  border-radius: 5px;
  background: var(--primary-color);
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
}

.shop__btn:hover {
  background: #fff;
  color: var(--primary-color);
}

.timer__count {
  background-image: url("../assets/images/timer.jpg");
  min-height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 50vh;
  top: 0;
  left: 0;
  z-index: 10;
}

.timer__content {
  z-index: 100;
  position: relative;
  align-items: center;
  padding: 70px;
}

.clock__top-content h4 {
  font-size: 3rem;
}

.clock__top-content h3 {
  font-size: 4.5rem;
}

.store__btn {
  background: #fff;
  color: #000;
  width: 500px;
  padding: 30px;
  font-weight: 600;
}

.store__btn:hover {
  color: var(--primary-color);
}

.cta h1 {
  font-size: 5rem;
}

.bespoke {
  background: url("../assets/images/bespoke.jpg") no-repeat center;
  background-size: cover;
  height: 90vh;
  position: relative;
}

.bespoke__content,
.shop__now-content {
  position: absolute;
  top: 45%;
  left: 15%;
  color: var(--secondary-color);
}

.cta__btn {
  font-size: 28px;
  border-radius: 20px;
}

.shop__now {
  background: url("../assets/images/shop.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  height: 90vh;
}

@media screen and (max-width: 992px) {
  .hero__content h1 {
    font-size: 3rem;
  }

  .section__title {
    font-size: 1.7rem;
  }

  .counter__img {
    display: none;
  }

  .clock__top-content {
    text-align: center;
  }

  .clock__top-content h4 {
    font-size: 0.9rem;
  }

  .clock__top-content h3 {
    font-size: 1rem;
  }

  .count__down-col {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .hero__content h2 {
    font-size: 1.6rem;
  }

  .hero__content p {
    font-size: 0.9rem;
  }

  .buy__btn {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 576px) {
  .hero__content {
    padding-top: 0;
    margin-bottom: 40px;
  }
}
