.payment__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: var(--card-bg-01);
  padding: 100px 30px;
}

.payment__container p {
  color: var(--primary-color);
  margin-bottom: 20px;
}

.payment__container span {
  font-weight: 700;
  font-size: 20px;
  margin-left: 20px;
}
