.action__row {
  --bs-gutter-x: 20px;
}

.filter__widget select {
  padding: 8px 20px;
  border: 1px solid var(--primary-color);
  cursor: pointer;
  border-radius: 5px;
  background: var(--primary-color);
  color: #fff;
  font-size: 2rem;
}

.filter__widget select:focus {
  outline: none;
}

.filter__widget select option {
  font-size: 2rem;
}

.search__box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 4px 12px 4px 2px;
  cursor: pointer;
}

.search__box input {
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 10px;
  font-size: 25px;
}
.search__box input::placeholder {
  font-size: 25px;
}

.search__box span {
  color: var(--primary-color);
}

.pagination {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 50px;
}

.pagination p {
  font-weight: 600;
  font-size: 30px;
}

.pagination__btn{
  font-size: 25px;
}

@media only screen and (max-width: 768px) {
  .filter__widget {
    margin-bottom: 30px;
  }

  .filter__widget select {
    padding: 7px 20px;
    font-size: 0.9rem;
  }
}
