.footer {
  padding-top: 60px;
  padding-bottom: 30px;
  background: var(--primary-color);
}

.footer__text {
  font-size: 25px;
  line-height: 30px;
  color: #ffffffbb;
  max-width: 80%;
}

.footer__quick-links ul li {
  background: transparent !important;
}

.footer__quick-links ul li a {
  color: #ffffffbb;
  font-size: 1.3rem;
}

.quick_links-title {
  margin-bottom: 24px;
  color: #fff;
  font-size: 1.7rem;
}

.footer__contact li,
.footer__contact li p {
  color: #ffffffbb;
  font-size: 1.3rem;
}

.footer__contact li span {
  font-size: 1.3rem;
}

.footer__contact li p {
  font-size: 1.3rem;
}

.socials{
  margin-top: 70px;
}

.footer__social-media {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

.footer__social-media a i {
  color: var(--primary-color);
  font-size: 30px;
  cursor: pointer;
  background: #fff;
  border-radius: 50%;
  padding: 5px;
}

.footer__social-media a:hover {
  transform: translateY(-5px);
  transition: transform 0.5s;
}

.footer__copyright {
  color: #ffffffbb;
  font-size: 0.7rem;
  margin-top: 10px;
  text-align: right;
}

.footer__copyright a {
  color: red;
}
