.footer {
  padding-top: 60px;
  padding-bottom: 30px;
  background: var(--primary-color);
}

.footer__text {
  line-height: 20px;
  color: #ffffffbb;
}

.footer__quick-links ul li {
  background: transparent !important;
}

.footer__quick-links ul li a {
  color: #ffffffbb;
}

.quick_links-title {
  margin-bottom: 20px;
  color: #fff;
  font-size: 1.1rem;
}

.footer__contact li,
.footer__contact li p {
  color: #ffffffbb;
}

.footer__contact li span {
  font-size: 1.2rem;
}

.footer__contact li p {
  font-size: 0.9rem;
}

.footer__social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  gap: 20px;
}

.footer__social-media a i {
  color: var(--primary-color);
  font-size: 20px;
  cursor: pointer;
  background: #fff;
  border-radius: 50%;
  padding: 5px;
}

.footer__social-media a:hover {
  transform: translateY(-5px);
  transition: transform 0.5s;
}

.footer__copyright {
  color: #ffffffbb;
  font-size: 0.9rem;
  margin-top: 10px;
  text-align: center;
}

.footer__copyright a {
  color: red;
}
